<nav class="navbar navbar-light" style="background-color: rgb(242, 105, 38)">
    <form class="form-inline">
      <button class="btn btn-outline-secondary" type="button" [routerLink]="['question']" >Add a new question</button>
      <button class="btn btn-outline-secondary" type="button" [routerLink]="['survey']" >View Surveys</button>
      <button class="btn btn-outline-secondary" type="button"  [routerLink]="['send']" >Send Surveys</button>
      <button class="btn btn-outline-secondary" type="button" [routerLink]="['make']" >Make Survey</button>
    </form>
</nav>
<router-outlet></router-outlet>

