<div [formGroup]="surveySubmissionForm" >
    
    <div class="form-check" >
        <!-- For each choice available -->
        <div *ngFor="let potentialAnswer of question.question; let p=index">
            <!-- Accounting for index 0 being the title -->
            <div *ngIf="p!=0">
                
                <!-- Make that choice an option -->
                
                <input class="form-check-input" formControlName="response" type="radio"  value="{{question.question[p]}}" >
                <label class="form-check-label" for="multipleChoice" >{{potentialAnswer}}:</label>
            </div>

        </div>
    </div>
</div>

