<nav class="navbar navbar-light" style="background-color: white">
    <form class="form-inline">
      <button class="btn btn-outline-secondary" type="button" id="multiChoice" [routerLink]="['multi-choice']">Multiple Choice</button>
      <button class="btn btn-outline-secondary" type="button" id="shortAnswer" [routerLink]="['short-answer']">Short Answer</button>
      <button class="btn btn-outline-secondary" type="button"  id="rangeOption" [routerLink]="['range']">Range</button>
    </form>
</nav>
<div>
    <router-outlet></router-outlet>
</div>