<div class="container">
    <div class="row custom-wrapper">
        <div class="col-md-12">

            <form [formGroup]="emailReactiveForm" (ngSubmit)="onSubmit()">
                <div>

                    <div class=" group-gap">
                        <label for="typeahead-focus">Search for a batch:</label>
                        <input id="typeahead-focus" type="text" class="form-control" formControlName="batchIdName"
                            [ngbTypeahead]="searchbatch" (focus)="focus$.next($any($event).target.value)"
                            (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead" />
                    </div>
                    <hr>

                    <div class=" group-gap">
                        <label for="typeahead-focus">Search for a survey:</label>
                        <input id="typeahead-focus" type="text" class="form-control" formControlName="surveyIdName"
                            [ngbTypeahead]="searchsurvey" (focus)="focus2$.next($any($event).target.value)"
                            (click)="click2$.next($any($event).target.value)" #instance2="ngbTypeahead" />
                    </div>


                    <hr>

                    <div class="row justify-content-md-center">
                        <label class="btn btn-default p-0">
                            <input id="chooseFileButton" type="file" (change)="selectFile($event)" />
                        </label>
                    </div>

                    <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>

                    <hr>
                    <button id="sendButton" type="submit" class="btn btn-danger btn-lg btn-block"
                        [disabled]="emailReactiveForm.invalid">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>