<nav class="navbar navbar-light" style="background-color: white">
    <form class="form-inline">
        <!--Calls the getQuestions functions which triggers the ngFor loop--->
      <button class="btn btn-outline-secondary questionsBtn" type="button" (click)= 'getQuestions()'>Get Questions</button>
    </form>
</nav>


<ul  *ngFor="let question of questions" >
    
    <label>
        <!--Switch case based on the type of question pulled from the database. This effects the display-->

        <div [ngSwitch]="question.type">
            <!--If the question type is multiple choice-->
            <div *ngSwitchCase="'MULTIPLE_CHOICE'">
                <!--displays the elements in the array as the question and the options-->
                <div> <input  type="checkbox"> {{question.question[0]}} <br>
                    <input type="radio" id="multipleChoice" name="choice" value="choice1">
                    <label for="choice1">  {{question.question[1]}}</label><br>
                    <input type="radio" id="multipleChoice" name="choice" value="choice2">
                    <label for="choice2">  {{question.question[2]}}</label><br>
                    <input type="radio" id="multipleChoice" name="choice" value="choice3">
                    <label for="choice3"> {{question.question[3]}}</label>
                </div>
            </div>
            <!--If the question type is short answer-->
            <div *ngSwitchCase="'SHORT_ANSWER'"><input type="checkbox"> {{question.question[0]}}</div>
            
            <!--If the question type is pick from range-->
            <div *ngSwitchCase="'PICK_FROM_RANGE'"><input type="checkbox">{{question.question[0]}}
            <br>
             {{question.question[1]}} <input type="radio" id="range" name="range" value="1">
            <label for="range">1 </label>
            <input type="radio" id="range" name="range" value="2">
            <label for="range">2 </label>
            <input type="radio" id="range" name="range" value="3">
            <label for="range">3 </label>
            <input type="radio" id="range" name="range" value="4">
            <label for="range">4 </label>
            <input type="radio" id="range" name="range" value="5">
            <label for="range">5 </label>  {{question.question[2]}}
        </div>
        </div>
    </label>
</ul>

<nav class="navbar navbar-light" style="background-color: white">
    <form class="form-inline">
      <button class="btn btn-outline-secondary" type="submit">Generate Survey</button>
    </form>
</nav>
