<h2>{{surveyForm.title}}</h2>

<!-- Assign reactive form and submission method -->
<form [formGroup]="surveySubmissionForm" (ngSubmit)="submitSurvey()">

    <!-- Assign form array object -->
    <div formArrayName="answers">

        <!-- Loop through each question in surveyForm keeping track of an index -->
        <div *ngFor="let question of surveyForm.questions; let i=index" [formGroupName]="i">
            
            <!-- Print out the question title, which was set to index 0 -->
            <div>{{ question.question[0] }}</div>
            
            <app-question [surveySubmissionForm]="surveySubmissionForm" [question]="question" [answers]="answers"></app-question>
        </div>
    </div>

    <!-- Ensure form is valid before submission -->
    <button type="submit" [disabled]="!surveySubmissionForm.valid" class="btn btn-success">Submit</button>
</form>